[submodule "reverse-proxy"]
	path = reverse-proxy
	url = https://github.com/CoryFrench/reverse-proxy.git
[submodule "chatgpt-daily-server"]
	path = chatgpt-daily-server
	url = https://github.com/CoryFrench/chatgpt-daily-server.git
[submodule "agent-directory"]
	path = agent-directory
	url = https://github.com/CoryFrench/agent-directory.git
[submodule "calendar-backend"]
	path = calendar-backend
	url = https://github.com/CoryFrench/calendar-backend.git
[submodule "calendar-frontend"]
	path = calendar-frontend
	url = https://github.com/CoryFrench/calendar-frontend.git
[submodule "lead_research"]
	path = lead_research
	url = https://github.com/CoryFrench/lead_research.git
[submodule "youtube_summary"]
	path = youtube_summary
	url = https://github.com/CoryFrench/youtube_summary.git
